<?php
/**
 * PersonalpageCollectorApi
 * PHP version 5
 *
 * @category Class
 * @package  AnketologClient
 * @author   http://github.com/swagger-api/swagger-codegen
 * @license  http://www.apache.org/licenses/LICENSE-2.0 Apache Licene v2
 * @link     https://github.com/swagger-api/swagger-codegen
 */

/**
 * Документация к Анкетолог API
 *
 * ### Библиотеки для работы с API  * **PHP** https://github.com/anketolog/AnketologClient-php  ### Библиотеки на других языках  Вы можете самостоятельно сгенерировать библиотеку, [на любом доступном языке](https://github.com/swagger-api/swagger-codegen#api-clients), воспользовавшись [swagger-codegen](http://swagger.io/swagger-codegen). Конфигурационный файл можно скачать по [этой ссылке](https://${app.service.domain}/api/external/v2/anketolog.yaml).  ### Работа с API  Работа с API осуществляется при помощи отправки POST-запросов на адрес:  ``` https://${app.apiv2.domain}/{resource} ```  Необходимые параметры передаются в теле запроса в виде JSON-строки:  ``` {     \"survey_id\": \"ID опроса\" } ```  Для авторизации необходимо передать заголовок **X-Anketolog-ApiKey** в запросе:  ``` X-Anketolog-ApiKey: API_KEY ```  Ключ доступа к API можно получить в [разделе настроек](https://${app.service.domain}/user/account/apikey)   ### Пример запроса  ``` curl -X POST \\   --header 'X-Anketolog-ApiKey: API_KEY' \\   -d '{\"survey_id\": \"ID опроса\"}' \\   'https://${app.apiv2.domain}/survey/manage/info' ```
 *
 * OpenAPI spec version: 2.0
 * 
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

/**
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * Do not edit the class manually.
 */

namespace AnketologClient\Api;

use \AnketologClient\Configuration;
use \AnketologClient\ApiClient;
use \AnketologClient\ApiException;
use \AnketologClient\ObjectSerializer;

/**
 * PersonalpageCollectorApi Class Doc Comment
 *
 * @category Class
 * @package  AnketologClient
 * @author   http://github.com/swagger-api/swagger-codegen
 * @license  http://www.apache.org/licenses/LICENSE-2.0 Apache Licene v2
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class PersonalpageCollectorApi
{

    /**
     * API Client
     *
     * @var \AnketologClient\ApiClient instance of the ApiClient
     */
    protected $apiClient;

    /**
     * Constructor
     *
     * @param \AnketologClient\ApiClient|null $apiClient The api client to use
     */
    public function __construct(\AnketologClient\ApiClient $apiClient = null)
    {
        if ($apiClient == null) {
            $apiClient = new ApiClient();
            $apiClient->getConfig()->setHost('https://${app.apiv2.domain}/');
        }

        $this->apiClient = $apiClient;
    }

    /**
     * Get API client
     *
     * @return \AnketologClient\ApiClient get the API client
     */
    public function getApiClient()
    {
        return $this->apiClient;
    }

    /**
     * Set the API client
     *
     * @param \AnketologClient\ApiClient $apiClient set the API client
     *
     * @return PersonalpageCollectorApi
     */
    public function setApiClient(\AnketologClient\ApiClient $apiClient)
    {
        $this->apiClient = $apiClient;
        return $this;
    }

    /**
     * Operation personalpageCollectorCreateAlias
     *
     * 
     *
     * @param \AnketologClient\Model\PersonalpageCollectorCreateAliasBody $personalpage_collector_create_alias_body  (required)
     * @return \AnketologClient\Model\PersonalPageAliasCollector
     * @throws \AnketologClient\ApiException on non-2xx response
     */
    public function personalpageCollectorCreateAlias($personalpage_collector_create_alias_body)
    {
        list($response) = $this->personalpageCollectorCreateAliasWithHttpInfo($personalpage_collector_create_alias_body);
        return $response;
    }

    /**
     * Operation personalpageCollectorCreateAliasWithHttpInfo
     *
     * 
     *
     * @param \AnketologClient\Model\PersonalpageCollectorCreateAliasBody $personalpage_collector_create_alias_body  (required)
     * @return Array of \AnketologClient\Model\PersonalPageAliasCollector, HTTP status code, HTTP response headers (array of strings)
     * @throws \AnketologClient\ApiException on non-2xx response
     */
    public function personalpageCollectorCreateAliasWithHttpInfo($personalpage_collector_create_alias_body)
    {
        // verify the required parameter 'personalpage_collector_create_alias_body' is set
        if ($personalpage_collector_create_alias_body === null) {
            throw new \InvalidArgumentException('Missing the required parameter $personalpage_collector_create_alias_body when calling personalpageCollectorCreateAlias');
        }
        // parse inputs
        $resourcePath = "/personalpage/collector/createalias";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/json'));

        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($personalpage_collector_create_alias_body)) {
            $_tempBody = $personalpage_collector_create_alias_body;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('x-anketolog-apikey');
        if (strlen($apiKey) !== 0) {
            $headerParams['x-anketolog-apikey'] = $apiKey;
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\AnketologClient\Model\PersonalPageAliasCollector',
                '/personalpage/collector/createalias'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\AnketologClient\Model\PersonalPageAliasCollector', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\AnketologClient\Model\PersonalPageAliasCollector', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                default:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\AnketologClient\Model\ResponseError', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation personalpageCollectorCreateWidget
     *
     * 
     *
     * @param \AnketologClient\Model\PersonalpageCollectorCreateWidgetBody $personalpage_collector_create_widget_body  (required)
     * @return \AnketologClient\Model\PersonalPageWidgetCollector
     * @throws \AnketologClient\ApiException on non-2xx response
     */
    public function personalpageCollectorCreateWidget($personalpage_collector_create_widget_body)
    {
        list($response) = $this->personalpageCollectorCreateWidgetWithHttpInfo($personalpage_collector_create_widget_body);
        return $response;
    }

    /**
     * Operation personalpageCollectorCreateWidgetWithHttpInfo
     *
     * 
     *
     * @param \AnketologClient\Model\PersonalpageCollectorCreateWidgetBody $personalpage_collector_create_widget_body  (required)
     * @return Array of \AnketologClient\Model\PersonalPageWidgetCollector, HTTP status code, HTTP response headers (array of strings)
     * @throws \AnketologClient\ApiException on non-2xx response
     */
    public function personalpageCollectorCreateWidgetWithHttpInfo($personalpage_collector_create_widget_body)
    {
        // verify the required parameter 'personalpage_collector_create_widget_body' is set
        if ($personalpage_collector_create_widget_body === null) {
            throw new \InvalidArgumentException('Missing the required parameter $personalpage_collector_create_widget_body when calling personalpageCollectorCreateWidget');
        }
        // parse inputs
        $resourcePath = "/personalpage/collector/createwidget";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/json'));

        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($personalpage_collector_create_widget_body)) {
            $_tempBody = $personalpage_collector_create_widget_body;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('x-anketolog-apikey');
        if (strlen($apiKey) !== 0) {
            $headerParams['x-anketolog-apikey'] = $apiKey;
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\AnketologClient\Model\PersonalPageWidgetCollector',
                '/personalpage/collector/createwidget'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\AnketologClient\Model\PersonalPageWidgetCollector', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\AnketologClient\Model\PersonalPageWidgetCollector', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                default:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\AnketologClient\Model\ResponseError', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation personalpageCollectorList
     *
     * 
     *
     * @param \AnketologClient\Model\PersonalpageCollectorListBody $personalpage_collector_list_body  (required)
     * @return \AnketologClient\Model\PersonalPageCollector[]
     * @throws \AnketologClient\ApiException on non-2xx response
     */
    public function personalpageCollectorList($personalpage_collector_list_body)
    {
        list($response) = $this->personalpageCollectorListWithHttpInfo($personalpage_collector_list_body);
        return $response;
    }

    /**
     * Operation personalpageCollectorListWithHttpInfo
     *
     * 
     *
     * @param \AnketologClient\Model\PersonalpageCollectorListBody $personalpage_collector_list_body  (required)
     * @return Array of \AnketologClient\Model\PersonalPageCollector[], HTTP status code, HTTP response headers (array of strings)
     * @throws \AnketologClient\ApiException on non-2xx response
     */
    public function personalpageCollectorListWithHttpInfo($personalpage_collector_list_body)
    {
        // verify the required parameter 'personalpage_collector_list_body' is set
        if ($personalpage_collector_list_body === null) {
            throw new \InvalidArgumentException('Missing the required parameter $personalpage_collector_list_body when calling personalpageCollectorList');
        }
        // parse inputs
        $resourcePath = "/personalpage/collector/list";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/json'));

        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($personalpage_collector_list_body)) {
            $_tempBody = $personalpage_collector_list_body;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('x-anketolog-apikey');
        if (strlen($apiKey) !== 0) {
            $headerParams['x-anketolog-apikey'] = $apiKey;
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\AnketologClient\Model\PersonalPageCollector[]',
                '/personalpage/collector/list'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\AnketologClient\Model\PersonalPageCollector[]', $httpHeader, 'swagger_type'), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\AnketologClient\Model\PersonalPageCollector[]', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                default:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\AnketologClient\Model\ResponseError', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation personalpageCollectorUpdateAlias
     *
     * 
     *
     * @param \AnketologClient\Model\PersonalpageCollectorUpdateAliasBody $personalpage_collector_update_alias_body  (required)
     * @return \AnketologClient\Model\PersonalPageAliasCollector
     * @throws \AnketologClient\ApiException on non-2xx response
     */
    public function personalpageCollectorUpdateAlias($personalpage_collector_update_alias_body)
    {
        list($response) = $this->personalpageCollectorUpdateAliasWithHttpInfo($personalpage_collector_update_alias_body);
        return $response;
    }

    /**
     * Operation personalpageCollectorUpdateAliasWithHttpInfo
     *
     * 
     *
     * @param \AnketologClient\Model\PersonalpageCollectorUpdateAliasBody $personalpage_collector_update_alias_body  (required)
     * @return Array of \AnketologClient\Model\PersonalPageAliasCollector, HTTP status code, HTTP response headers (array of strings)
     * @throws \AnketologClient\ApiException on non-2xx response
     */
    public function personalpageCollectorUpdateAliasWithHttpInfo($personalpage_collector_update_alias_body)
    {
        // verify the required parameter 'personalpage_collector_update_alias_body' is set
        if ($personalpage_collector_update_alias_body === null) {
            throw new \InvalidArgumentException('Missing the required parameter $personalpage_collector_update_alias_body when calling personalpageCollectorUpdateAlias');
        }
        // parse inputs
        $resourcePath = "/personalpage/collector/updatealias";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/json'));

        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($personalpage_collector_update_alias_body)) {
            $_tempBody = $personalpage_collector_update_alias_body;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('x-anketolog-apikey');
        if (strlen($apiKey) !== 0) {
            $headerParams['x-anketolog-apikey'] = $apiKey;
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\AnketologClient\Model\PersonalPageAliasCollector',
                '/personalpage/collector/updatealias'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\AnketologClient\Model\PersonalPageAliasCollector', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\AnketologClient\Model\PersonalPageAliasCollector', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                default:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\AnketologClient\Model\ResponseError', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation personalpageCollectorUpdateWidget
     *
     * 
     *
     * @param \AnketologClient\Model\PersonalpageCollectorUpdateWidgetBody $personalpage_collector_update_widget_body  (required)
     * @return \AnketologClient\Model\PersonalPageWidgetCollector
     * @throws \AnketologClient\ApiException on non-2xx response
     */
    public function personalpageCollectorUpdateWidget($personalpage_collector_update_widget_body)
    {
        list($response) = $this->personalpageCollectorUpdateWidgetWithHttpInfo($personalpage_collector_update_widget_body);
        return $response;
    }

    /**
     * Operation personalpageCollectorUpdateWidgetWithHttpInfo
     *
     * 
     *
     * @param \AnketologClient\Model\PersonalpageCollectorUpdateWidgetBody $personalpage_collector_update_widget_body  (required)
     * @return Array of \AnketologClient\Model\PersonalPageWidgetCollector, HTTP status code, HTTP response headers (array of strings)
     * @throws \AnketologClient\ApiException on non-2xx response
     */
    public function personalpageCollectorUpdateWidgetWithHttpInfo($personalpage_collector_update_widget_body)
    {
        // verify the required parameter 'personalpage_collector_update_widget_body' is set
        if ($personalpage_collector_update_widget_body === null) {
            throw new \InvalidArgumentException('Missing the required parameter $personalpage_collector_update_widget_body when calling personalpageCollectorUpdateWidget');
        }
        // parse inputs
        $resourcePath = "/personalpage/collector/updatewidget";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/json'));

        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($personalpage_collector_update_widget_body)) {
            $_tempBody = $personalpage_collector_update_widget_body;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('x-anketolog-apikey');
        if (strlen($apiKey) !== 0) {
            $headerParams['x-anketolog-apikey'] = $apiKey;
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\AnketologClient\Model\PersonalPageWidgetCollector',
                '/personalpage/collector/updatewidget'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\AnketologClient\Model\PersonalPageWidgetCollector', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\AnketologClient\Model\PersonalPageWidgetCollector', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                default:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\AnketologClient\Model\ResponseError', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

}
