<?php
/**
 * SurveySubscribeApi
 * PHP version 5
 *
 * @category Class
 * @package  AnketologClient
 * @author   http://github.com/swagger-api/swagger-codegen
 * @license  http://www.apache.org/licenses/LICENSE-2.0 Apache Licene v2
 * @link     https://github.com/swagger-api/swagger-codegen
 */

/**
 * Документация к Анкетолог API
 *
 * ### Библиотеки для работы с API  * **PHP** https://github.com/anketolog/AnketologClient-php  ### Библиотеки на других языках  Вы можете самостоятельно сгенерировать библиотеку, [на любом доступном языке](https://github.com/swagger-api/swagger-codegen#api-clients), воспользовавшись [swagger-codegen](http://swagger.io/swagger-codegen). Конфигурационный файл можно скачать по [этой ссылке](https://${app.service.domain}/api/external/v2/anketolog.yaml).  ### Работа с API  Работа с API осуществляется при помощи отправки POST-запросов на адрес:  ``` https://${app.apiv2.domain}/{resource} ```  Необходимые параметры передаются в теле запроса в виде JSON-строки:  ``` {     \"survey_id\": \"ID опроса\" } ```  Для авторизации необходимо передать заголовок **X-Anketolog-ApiKey** в запросе:  ``` X-Anketolog-ApiKey: API_KEY ```  Ключ доступа к API можно получить в [разделе настроек](https://${app.service.domain}/user/account/apikey)   ### Пример запроса  ``` curl -X POST \\   --header 'X-Anketolog-ApiKey: API_KEY' \\   -d '{\"survey_id\": \"ID опроса\"}' \\   'https://${app.apiv2.domain}/survey/manage/info' ```
 *
 * OpenAPI spec version: 2.0
 * 
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

/**
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * Do not edit the class manually.
 */

namespace AnketologClient\Api;

use \AnketologClient\Configuration;
use \AnketologClient\ApiClient;
use \AnketologClient\ApiException;
use \AnketologClient\ObjectSerializer;

/**
 * SurveySubscribeApi Class Doc Comment
 *
 * @category Class
 * @package  AnketologClient
 * @author   http://github.com/swagger-api/swagger-codegen
 * @license  http://www.apache.org/licenses/LICENSE-2.0 Apache Licene v2
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class SurveySubscribeApi
{

    /**
     * API Client
     *
     * @var \AnketologClient\ApiClient instance of the ApiClient
     */
    protected $apiClient;

    /**
     * Constructor
     *
     * @param \AnketologClient\ApiClient|null $apiClient The api client to use
     */
    public function __construct(\AnketologClient\ApiClient $apiClient = null)
    {
        if ($apiClient == null) {
            $apiClient = new ApiClient();
            $apiClient->getConfig()->setHost('https://${app.apiv2.domain}/');
        }

        $this->apiClient = $apiClient;
    }

    /**
     * Get API client
     *
     * @return \AnketologClient\ApiClient get the API client
     */
    public function getApiClient()
    {
        return $this->apiClient;
    }

    /**
     * Set the API client
     *
     * @param \AnketologClient\ApiClient $apiClient set the API client
     *
     * @return SurveySubscribeApi
     */
    public function setApiClient(\AnketologClient\ApiClient $apiClient)
    {
        $this->apiClient = $apiClient;
        return $this;
    }

    /**
     * Operation surveySubscribeCreate
     *
     * 
     *
     * @param \AnketologClient\Model\SurveySubscribeCreateBody $survey_subscribe_create_body  (required)
     * @return \AnketologClient\Model\SurveySubscribe
     * @throws \AnketologClient\ApiException on non-2xx response
     */
    public function surveySubscribeCreate($survey_subscribe_create_body)
    {
        list($response) = $this->surveySubscribeCreateWithHttpInfo($survey_subscribe_create_body);
        return $response;
    }

    /**
     * Operation surveySubscribeCreateWithHttpInfo
     *
     * 
     *
     * @param \AnketologClient\Model\SurveySubscribeCreateBody $survey_subscribe_create_body  (required)
     * @return Array of \AnketologClient\Model\SurveySubscribe, HTTP status code, HTTP response headers (array of strings)
     * @throws \AnketologClient\ApiException on non-2xx response
     */
    public function surveySubscribeCreateWithHttpInfo($survey_subscribe_create_body)
    {
        // verify the required parameter 'survey_subscribe_create_body' is set
        if ($survey_subscribe_create_body === null) {
            throw new \InvalidArgumentException('Missing the required parameter $survey_subscribe_create_body when calling surveySubscribeCreate');
        }
        // parse inputs
        $resourcePath = "/survey/subscribe/create";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/json'));

        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($survey_subscribe_create_body)) {
            $_tempBody = $survey_subscribe_create_body;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('x-anketolog-apikey');
        if (strlen($apiKey) !== 0) {
            $headerParams['x-anketolog-apikey'] = $apiKey;
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\AnketologClient\Model\SurveySubscribe',
                '/survey/subscribe/create'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\AnketologClient\Model\SurveySubscribe', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\AnketologClient\Model\SurveySubscribe', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                default:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\AnketologClient\Model\ResponseError', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation surveySubscribeDelete
     *
     * 
     *
     * @param \AnketologClient\Model\SurveySubscribeDeleteBody $survey_subscribe_delete_body  (required)
     * @return string
     * @throws \AnketologClient\ApiException on non-2xx response
     */
    public function surveySubscribeDelete($survey_subscribe_delete_body)
    {
        list($response) = $this->surveySubscribeDeleteWithHttpInfo($survey_subscribe_delete_body);
        return $response;
    }

    /**
     * Operation surveySubscribeDeleteWithHttpInfo
     *
     * 
     *
     * @param \AnketologClient\Model\SurveySubscribeDeleteBody $survey_subscribe_delete_body  (required)
     * @return Array of string, HTTP status code, HTTP response headers (array of strings)
     * @throws \AnketologClient\ApiException on non-2xx response
     */
    public function surveySubscribeDeleteWithHttpInfo($survey_subscribe_delete_body)
    {
        // verify the required parameter 'survey_subscribe_delete_body' is set
        if ($survey_subscribe_delete_body === null) {
            throw new \InvalidArgumentException('Missing the required parameter $survey_subscribe_delete_body when calling surveySubscribeDelete');
        }
        // parse inputs
        $resourcePath = "/survey/subscribe/delete";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/json'));

        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($survey_subscribe_delete_body)) {
            $_tempBody = $survey_subscribe_delete_body;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('x-anketolog-apikey');
        if (strlen($apiKey) !== 0) {
            $headerParams['x-anketolog-apikey'] = $apiKey;
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                'string',
                '/survey/subscribe/delete'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, 'string', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), 'string', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                default:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\AnketologClient\Model\ResponseError', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation surveySubscribeInfo
     *
     * 
     *
     * @param \AnketologClient\Model\SurveySubscribeInfoBody $survey_subscribe_info_body  (required)
     * @return \AnketologClient\Model\SurveySubscribe
     * @throws \AnketologClient\ApiException on non-2xx response
     */
    public function surveySubscribeInfo($survey_subscribe_info_body)
    {
        list($response) = $this->surveySubscribeInfoWithHttpInfo($survey_subscribe_info_body);
        return $response;
    }

    /**
     * Operation surveySubscribeInfoWithHttpInfo
     *
     * 
     *
     * @param \AnketologClient\Model\SurveySubscribeInfoBody $survey_subscribe_info_body  (required)
     * @return Array of \AnketologClient\Model\SurveySubscribe, HTTP status code, HTTP response headers (array of strings)
     * @throws \AnketologClient\ApiException on non-2xx response
     */
    public function surveySubscribeInfoWithHttpInfo($survey_subscribe_info_body)
    {
        // verify the required parameter 'survey_subscribe_info_body' is set
        if ($survey_subscribe_info_body === null) {
            throw new \InvalidArgumentException('Missing the required parameter $survey_subscribe_info_body when calling surveySubscribeInfo');
        }
        // parse inputs
        $resourcePath = "/survey/subscribe/info";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/json'));

        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($survey_subscribe_info_body)) {
            $_tempBody = $survey_subscribe_info_body;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('x-anketolog-apikey');
        if (strlen($apiKey) !== 0) {
            $headerParams['x-anketolog-apikey'] = $apiKey;
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\AnketologClient\Model\SurveySubscribe',
                '/survey/subscribe/info'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\AnketologClient\Model\SurveySubscribe', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\AnketologClient\Model\SurveySubscribe', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                default:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\AnketologClient\Model\ResponseError', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation surveySubscribeList
     *
     * 
     *
     * @param \AnketologClient\Model\SurveySubscribeListBody $survey_subscribe_list_body  (required)
     * @return \AnketologClient\Model\SurveySubscribe[]
     * @throws \AnketologClient\ApiException on non-2xx response
     */
    public function surveySubscribeList($survey_subscribe_list_body)
    {
        list($response) = $this->surveySubscribeListWithHttpInfo($survey_subscribe_list_body);
        return $response;
    }

    /**
     * Operation surveySubscribeListWithHttpInfo
     *
     * 
     *
     * @param \AnketologClient\Model\SurveySubscribeListBody $survey_subscribe_list_body  (required)
     * @return Array of \AnketologClient\Model\SurveySubscribe[], HTTP status code, HTTP response headers (array of strings)
     * @throws \AnketologClient\ApiException on non-2xx response
     */
    public function surveySubscribeListWithHttpInfo($survey_subscribe_list_body)
    {
        // verify the required parameter 'survey_subscribe_list_body' is set
        if ($survey_subscribe_list_body === null) {
            throw new \InvalidArgumentException('Missing the required parameter $survey_subscribe_list_body when calling surveySubscribeList');
        }
        // parse inputs
        $resourcePath = "/survey/subscribe/list";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/json'));

        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($survey_subscribe_list_body)) {
            $_tempBody = $survey_subscribe_list_body;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('x-anketolog-apikey');
        if (strlen($apiKey) !== 0) {
            $headerParams['x-anketolog-apikey'] = $apiKey;
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\AnketologClient\Model\SurveySubscribe[]',
                '/survey/subscribe/list'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\AnketologClient\Model\SurveySubscribe[]', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\AnketologClient\Model\SurveySubscribe[]', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                default:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\AnketologClient\Model\ResponseError', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation surveySubscribeUpdate
     *
     * 
     *
     * @param \AnketologClient\Model\SurveySubscribeUpdateBody $survey_subscribe_update_body  (required)
     * @return \AnketologClient\Model\SurveySubscribe
     * @throws \AnketologClient\ApiException on non-2xx response
     */
    public function surveySubscribeUpdate($survey_subscribe_update_body)
    {
        list($response) = $this->surveySubscribeUpdateWithHttpInfo($survey_subscribe_update_body);
        return $response;
    }

    /**
     * Operation surveySubscribeUpdateWithHttpInfo
     *
     * 
     *
     * @param \AnketologClient\Model\SurveySubscribeUpdateBody $survey_subscribe_update_body  (required)
     * @return Array of \AnketologClient\Model\SurveySubscribe, HTTP status code, HTTP response headers (array of strings)
     * @throws \AnketologClient\ApiException on non-2xx response
     */
    public function surveySubscribeUpdateWithHttpInfo($survey_subscribe_update_body)
    {
        // verify the required parameter 'survey_subscribe_update_body' is set
        if ($survey_subscribe_update_body === null) {
            throw new \InvalidArgumentException('Missing the required parameter $survey_subscribe_update_body when calling surveySubscribeUpdate');
        }
        // parse inputs
        $resourcePath = "/survey/subscribe/update";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/json'));

        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($survey_subscribe_update_body)) {
            $_tempBody = $survey_subscribe_update_body;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('x-anketolog-apikey');
        if (strlen($apiKey) !== 0) {
            $headerParams['x-anketolog-apikey'] = $apiKey;
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\AnketologClient\Model\SurveySubscribe',
                '/survey/subscribe/update'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\AnketologClient\Model\SurveySubscribe', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\AnketologClient\Model\SurveySubscribe', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                default:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\AnketologClient\Model\ResponseError', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

}
